@import url('./global/variables.css');
@import url('./global/typography.css');
@import url('./global/utils.css');

/* Component-specific CSS files */
@import url('./components/header.css');
@import url('./components/banner.css');
@import url('./components/features.css');
@import url('./components/how-to-use.css');
@import url('./components/tariffs.css');
@import url('./components/contact.css');
@import url('./components/footer.css');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Raleway", sans-serif;

    background: linear-gradient(99.36deg, var(--color-bg-body1) -4.07%, var(--color-bg-body2) 93.88%);
    color: var(--color-text-light);

}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

@media (max-width: 767px) {
    .container {
        max-width: 100%;
        margin: 0 10px;
        padding: 0 10px;
    }
}
