<!-- banner.html -->
<section class="banner container">
    <div class="banner__content">
        <h1 class="banner__title">
            Set Up Accepting Payments in Multiple Cryptocurrencies
            With No Fees for Your E-commerce
        </h1>
        <p class="banner__subtitle">
            SHKeeper is a self-hosted and open-source cryptocurrency payment processor.
            The unique combination of gateway and merchant. It allows you to accept
            payments in cryptocurrency.
        </p>
        <div class="banner__buttons">
            <a class="banner__button banner__button--primary" href="#">Get Started</a>
            <a class="banner__button banner__button--secondary" href="#">How It Works</a>
        </div>
    </div>
    <div class="banner__image">
        <img alt="wallet" src="../img/wallet.svg"/>
    </div>
</section>

