<section class="features container">
    <ul class="features__list">
        <li class="features__item">
            <div class="features__icon">
                <!-- Replace with your actual icon if desired -->
                <img alt="Multiple Cryptocurrencies" src="../img/multiple-cryptocurrencies-icon.svg">
            </div>
            <p class="features__text">Multiple Cryptocurrencies</p>
        </li>
        <li class="features__item">
            <div class="features__icon">
                <!-- Replace with your actual icon if desired -->
                <img alt="No Transaction Fees" src="../img/no-transaction-fees-icon.svg">
            </div>
            <p class="features__text">No Transaction Fees</p>
        </li>
        <li class="features__item">
            <div class="features__icon">
                <!-- Replace with your actual icon if desired -->
                <img alt="No Third Parties" src="../img/no-third-parties-icon.svg">
            </div>
            <p class="features__text">No Third Parties</p>
        </li>
    </ul>
</section>