<header class="site-header">
    <div class="header-logo">
        <a href="index.html">My website</a>
    </div>
    <img src="../img/logo" alt="logo" />
    <nav class="main-menu">
        <ul>
            <li><a href="">Tariffs</a></li>
            <li><a href="">Features</a></li>
            <li><a href="">Integrations</a></li>
            <li><a href="">Resources</a></li>
            <li><a href="">Contact us</a></li>
            <li><a href="">Go to GitHub</a></li>
        </ul>
    </nav>
</header>