<header class="header">
    <div class="container">
        <nav class="header__nav">
            <div class="header__logo">
                <a href="index.html">
                    <img alt="SHKeeper Logo" class="header__logo-image" src="../img/logo.svg">
                </a>
            </div>
            <ul class="header__menu">
                <li class="header__menu-item"><a class="header__menu-link" href="">Tariffs</a></li>
                <li class="header__menu-item"><a class="header__menu-link" href="">Features</a></li>
                <li class="header__menu-item"><a class="header__menu-link" href="">Integrations</a></li>
                <li class="header__menu-item"><a class="header__menu-link" href="">Resources</a></li>
                <li class="header__menu-item"><a class="header__menu-link" href="">Contact us</a></li>
            </ul>
            <div class="header__button">
                <a class="header__button-link" href="">Go to GitHub</a>
            </div>
        </nav>
    </div>
</header>
