<link href="../css/components/how-to-use.css" rel="stylesheet">
<section class="how-to-use container">
    <h2 class="how-to-use__title">How to Use SHKeeper?</h2>
    <p class="how-to-use__subtitle">
        SHKeeper equips you with extra efficiency in integrating crypto payment service with any other existing systems.
    </p>
    <div class="how-to-use__grid">
        <div class="how-to-use__item">
            <div class="how-to-use__icon">
                <img alt="CMS Integration"
                     src="https://raw.githubusercontent.com/michaelkobetss/VS_TestTask/8697195c95f9d438a7095a249eec95c6a84ef491/img/cms-icon.svg">
            </div>
            <div>
                <h3 class="how-to-use__heading">Integrate With Popular CMS and Plug-Ins</h3>
                <p class="how-to-use__text">
                    SHKeeper is available for integration with any of the most popular CMS, plugins, and billing
                    systems.
                    This is a completely digitalized and decentralized option. So you don’t need to rely on third
                    parties.
                    The module for WordPress CMS and WooCommerce is available for free.
                </p></div>
        </div>
        <div class="how-to-use__item">
            <div class="how-to-use__icon">
                <img alt="E-commerce Integration"
                     src="https://raw.githubusercontent.com/michaelkobetss/VS_TestTask/8697195c95f9d438a7095a249eec95c6a84ef491/img/ecommerce-icon.svg">
            </div>
            <div>
                <h3 class="how-to-use__heading">Integrate With Any E-commerce</h3>
                <p class="how-to-use__text">
                    You can install SHKeeper yourself in your E-commerce project to accept cryptocurrency payments
                    or contact us for help with installation, configuration, or maintenance. 0% commission and a high
                    level
                    of security.
                </p></div>
        </div>
        <div class="how-to-use__item">
            <div class="how-to-use__icon">
                <img alt="Code Integration"
                     src="https://raw.githubusercontent.com/michaelkobetss/VS_TestTask/8697195c95f9d438a7095a249eec95c6a84ef491/img/code-icon.svg">
            </div>
            <div>
                <h3 class="how-to-use__heading">Integrate With Your Own Code or Product</h3>
                <p class="how-to-use__text">
                    SHKeeper is applicable to any product or code. It’s an open-source crypto-processor and is available
                    to
                    everyone
                    without the need for payment, and does not charge a transaction fee. You can also contact us if you
                    need
                    to fine-tune
                    SHKeeper for your product.
                </p></div>
        </div>
        <div class="how-to-use__item">
            <div class="how-to-use__icon">
                <img alt="Crypto Wallet"
                     src="https://raw.githubusercontent.com/michaelkobetss/VS_TestTask/8697195c95f9d438a7095a249eec95c6a84ef491/img/wallet-icon.svg">
            </div>
            <div>
                <h3 class="how-to-use__heading">Use as Your Own Wallet</h3>
                <p class="how-to-use__text">
                    It is quite possible to use SHKeeper as a regular multi-currency crypto wallet. It can be accessed
                    at
                    any time
                    using your private key. It allows you to back up the blockchain key, whereas you can also restore
                    the
                    key
                    through your other crypto wallets.
                </p></div>
        </div>
    </div>
</section>
