<section class="tariffs container">
    <h2 class="tariffs__title">Tariff Plans</h2>
    <div class="tariffs__list">
        <!-- Integration & Support Plan -->
        <div class="tariffs__card">
            <div class="tariffs__icon">
                <img alt="Integration & Support" src="../img/gears-icon.png">
            </div>
            <h3 class="tariffs__plan">Integration & Support</h3>
            <p class="tariffs__price">$2 <span>/per year</span></p>
            <ul class="tariffs__features">
                <li>Payment processor integration</li>
                <li>Payment processor support</li>
                <li>All features are available</li>
                <li>Hosting services available</li>
                <li>Personal customer manager</li>
            </ul>
            <a class="tariffs__button" href="#">Contact Us</a>
        </div>

        <!-- Open-Source Plan -->
        <div class="tariffs__card">
            <div class="tariffs__icon">
                <img alt="Open-Source" src="../img/open-source.png">
            </div>
            <h3 class="tariffs__plan">Open-Source</h3>
            <p class="tariffs__price">$0</p>
            <ul class="tariffs__features">
                <li><em>Self Installation and Launching</em> – Create the module yourself using API. Detailed
                    documentation on request. For WooCommerce and WordPress, the module is available for free.
                </li>
                <li><em>Wallets Auto-Detection</em> – SHKeeper detects your crypto wallets. Also, it’s possible to make
                    payments into other wallets or crypto stock exchanges.
                </li>
                <li><em>Receive and Make Payments</em> – Start accepting all popular cryptocurrencies, without
                    intermediaries and fees.
                </li>
            </ul>
            <a class="tariffs__button" href="#">Go to GitHub</a>
        </div>

        <!-- Custom Solution Plan -->
        <div class="tariffs__card">
            <div class="tariffs__icon">
                <img alt="Custom Solution" src="../img/bulb-icon.png">
            </div>
            <h3 class="tariffs__plan">Custom Solution</h3>
            <p class="tariffs__price"><em>Pricing on request</em></p>
            <ul class="tariffs__features">
                <li>Detailed product analysis</li>
                <li>Hosting services available</li>
                <li>Custom solution set-up</li>
                <li>Advanced issues and features</li>
                <li>Integration and support features</li>
            </ul>
            <a class="tariffs__button" href="#">Contact Us</a>
        </div>
    </div>
</section>
