/*banner.css*/

/* =========== BANNER BLOCK =========== */
.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 0;
    gap: 80px;
    /* No background override, as requested */
}

.banner__content {
    margin-top: 100px;

    flex: 1;
    max-width: 600px;
    color: var(--color-text-light);
}

.banner__title {
    margin: 0 0 1rem;
    font-style: italic;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;

}

.banner__subtitle {
    /* SHKeeper — is a self-hosted and open-source cryptocurrency payment processor. The unique combination of gateway and merchant. It allows you to accept payments in cryptocurrency. */


    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.9);
    margin-top: 20px;
    /* SHKeeper — is a self-hosted and open-source cryptocurrency payment processor. The unique combination of gateway and merchant. It allows you to accept payments in cryptocurrency. */


}

.banner__buttons {
    display: flex;
    gap: 1rem;
    margin-top: 60px;
}

.banner__button {
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}

.banner__button--primary {
    background: linear-gradient(
            90deg,
            var(--color-btn-gradient-start),
            var(--color-btn-gradient-end)
    );
    color: var(--color-text-dark);
    border-radius: 12px;
    /* Get Started */


    font-style: italic;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

}

.banner__button--secondary {
    background: linear-gradient(90.62deg, var(--color-btn-gradient-start) 0.54%, var(--color-btn-gradient-end) 101.81%);
    border: 1px solid var(--color-btn-gradient-end);
    font-style: italic;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    border-radius: 12px;

    /* How It Works */


}

.banner__image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.banner__image img {
    max-width: 100%;
    height: auto;
}

/* =========== FEATURES BLOCK =========== */
.features {
    margin-top: 280px;
    padding: 40px 0;
    /* No background override, as requested */
    color: var(--color-text-light);
}

.features__list {
    display: flex;

    justify-content: space-around;
    align-items: flex-start;
    list-style: none;
    /*margin: 0;*/
    margin-top: 120px;
    padding: 0;
    background: rgba(242, 242, 242, 0.02);
    border: 1px solid rgba(221, 221, 221, 0.07);
    backdrop-filter: blur(27.5px);
    border-radius: 22px;

}

.features__item {
    text-align: center;
    margin-top: 30px;
    max-width: 200px;
}

.features__icon {
    margin-bottom: 1rem;
    background: rgba(126, 187, 255, 0.06);
    border: 1px solid rgba(126, 187, 255, 0.2);
    border-radius: 26px;
    height: 120px;
    width: 174px;
    display: flex; /* Добавляем флекс */
    align-items: center; /* Выравнивание по вертикали */
    justify-content: center; /* Выравнивание по горизонтали */
}

.features__icon img {
    max-width: 100%;
    height: auto; /* Сохраняем пропорции изображения */
}

.features__text {
    font-style: italic;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;


}
